@{
  Layout = "_Layout";
}
@model Restaurant.Models.RestaurantV

<h1>Add a new Restaurant</h1>
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })

    @Html.LabelFor(model => model.Hours)
    @Html.TextBoxFor(model => model.Hours, new { @class = "form-control" })

    @Html.LabelFor(model => model.Price)
    @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })

    @Html.LabelFor(model => model.Location)
    @Html.TextBoxFor(model => model.Location, new { @class = "form-control" })

    @Html.LabelFor(model => model.Cuisine)
    @Html.DropDownList("CuisineId")
    
  </div>
  <input class="btn btn-danger"type="submit" value="Add new restaurant" />
}
