@*
@model Restaurant.Models.RestaurantV

<h4>Add a new Restaurant</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.CuisineId)
    @Html.DropDownList("CuisineId")
    <input type="submit" value="Add new category" />
}
*@