@{
  Layout = "_Layout";
}
@model Restaurant.Models.RestaurantV

<h1>Restaurant details for @Model.Name</h1>

<div class="row">
  <div class="card w-50">
  
    &nbsp
  </div>
  <div class="card w-50">
  
    <p>Hours: @Model.Hours</p>
    <p>Cost: @Model.Price</p>
    <p>Location: @Model.Location</p>
  </div>
</div>


<p>@Html.ActionLink("Add new restaurant", "Create")</p>
 <p><a href="/Cuisine/Details/@Model.RestaurantVId/deleteconfirmed"> Delete</a></p>
 <p>@Html.ActionLink("Edit", "Edit", "Restaurant", new {idR = @Model.RestaurantVId})</p>