@{
  Layout = "_Layout";
}
@model Restaurant.Models.RestaurantV

<li>@Model.Name</li>
<li>@Model.Hours</li>
<li>@Model.Price</li>
<li>@Model.Location</li>
<p>@Html.ActionLink("Add new item", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>

 <li><a href="/Cuisine/Details/@Model.RestaurantVId/deleteconfirmed"> Delete</a>/</li>
 <p>@Html.ActionLink("Edit", "Edit", "Restaurant", new {idR = @Model.RestaurantVId})</p>