@{
  Layout = "_Layout";
}
@using Restaurant.Models;

@if(@Model.Count == 0)
{
    <p>@Html.ActionLink("Add new Cuisine", "Create")</p>
}

@foreach(Cuisine cuisineV in Model)
{
    <div class="allOutline">
    <h2>@Html.ActionLink($"{cuisineV.Name} restaurants", "Details", new {id = cuisineV.CuisineId}) </h2>
    
@foreach(var item in cuisineV.RestaurantVariable)
   {
      
       <ul>
        <li><u>@item.Name</u></li>
       </ul>
      
   } 
   </div>
    
}

<p>@Html.ActionLink("Add new cuisine", "Create")</p>
<p>@Html.ActionLink("Add new restaurant", "Create")</p>


